<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'" class="hidden-xs hidden-sm"></div>

<main>
    <div class="main-inner">

    <span class="article-backlink">
    	<a href="#/nyheter" class="fa fa-long-arrow-left">Tilbake til nyheter</a>
    </span>

	<div class="article">
		<div class="row">
                <div class="article-headline">
                    <h1>Avfall Norges inspill til regjerings budsjettforslag for 2015.</h1>
                </div>
                <div class="article-img">
                    <img class="img-responsive" src="img/testbilde.jpg" alt="">
                </div>
                <div class="article-img-info">
                    <span class="fa fa-camera">Erna Solberg under budsjettforhandlingene. (NTB)</span>
                    <hr>
                </div>
                <div class="article-content">
                    <p class="lead">8. oktober ble regjeringens forslag til statsbudsjett lagt frem. Avfall Norge har gitt sine innspill via Finanskomiteen, Næringskomiteen og Energi- og miljøkomiteen. For Avfall Norge var de viktigste sakene: Marin forsøpling, fjerning av deponiavgift, tydeligere mål for materialgjenvinning og biogasstrategi.</p>
                    <p>Havet og kysten tilføres store mengder menneskeskapt avfall. Gjenstander av plast, gummi og andre lite nedbrytbare materialer kan bli værende i miljøet i hundrevis av år og skade dyr og mennesker. Plast brytes ned til mikropartikler som blir tatt opp i næringskjeden i havet. Dette kan ha skadelig innvirkning på hele kretsløpet. Avfallet påfører fiskeribransjen store kostnader i form av ødelagt utstyr. Søppel i strandsonen skader turistnæringen. Avfall Norge er ansvarlig for Hold Norge Rent og rydding i strandsonen, dette er kampanjer helt og holdent basert på frivillig innsats. På tre år har antall frivillige ryddere økt fra 2000 i 2011, til mer enn 12000 i 2014.
                        <br>
                        <br>Regjeringen foreslår å videreføre støtten på ca. 200 000 kroner til Hold Norge Rent. Avfall Norge ser som positivt at regjeringen verdsetter den frivillige innsatsen, men mener at en kan ikke over tid basere et så stort samfunnsansvar på frivillighet. Det trengs omfattende tiltak til opprydding, opplysning, forebygging og forskning. Det er et stort behov for kunnskap om mengde og innhold, og en profesjonell struktur med riktige tiltak for forebygging og bedre behandling. Det er på tide at marin forsøpling blir satt på dagsordenen som et stort miljøproblem. Avfall Norge støtter Venstres budsjettforslag om å sette av 25 millioner kroner til helhetlige tiltak mot marin forsøpling.</p>
                    <img class="left-img" src="img/testbildelite.jpg" />
                    <h4>Fjerning av deponiavgiften</h4>
                    <p>Avfall Norge mener at den eksisterende deponiavgiften ikke virker etter sin hensikt og at den er samfunnsøkonomisk ulønnsom. Bakgrunnen for denne konklusjonen er blant annet at deponiene mottar stadig mindre avfallsmengder etter at deponiforbudet ble innført i 2009. Innkreving og øvrige administrative aktiviteter knyttet til deponiavgiften er dessuten forbundet med store kostander. Dersom man fjerner avgiften kan deponiene i tillegg disponere sine arealer på en mer fleksibel måte. Avfall Norge vil arbeide videre med forslag til tiltak for å sikre at gjenvinnbart avfall, spesielt fra bygg og anleggssektoren, materialgjenvinnes og ikke havner på deponi.</p>
                    <br>
                    <h4>Tydeligere mål for materialgjenvinning</h4>
                    <p>Avfall Norge mener det nasjonale målet for materialgjenvinning er utdatert fordi det ikke lenger bidrar til økt ressursutnyttelse av avfall. Dagens mål er at mengden avfall til gjenvinning, inkludert forbrenning til energiutnyttelse, skal være omkring 80 prosent – og at mengden skal økes i tråd med det som er et samfunnsøkonomisk og miljømessig fornuftig nivå.
                        <br>
                        <br>EU-kommisjonen har nylig foreslått nye og mer ambisiøse europeiske gjenvinningsmål. Disse omfatter materialgjenvinning av avfall – ikke energiutnyttelse. 70 prosent materialgjenvinning av alt husholdningsavfall innen 2030 er ett av forslagene som kommer fra EU. I dag materialgjenvinnes kun 40 prosent av dette avfallet. Naturvärdsverket i Sverige har foreslått et nasjonalt mål om å materialgjenvinne 60 prosent av husholdningsavfallet. Avfall Norge mener Klima- og miljødepartementet i Norge bør følge det svenske eksempelet.</p>
                    <blockquote><i>70 prosent materialgjenvinning av alt husholdningsavfall innen 2030 er ett av forslagene som kommer fra EU. I dag materialgjenvinnes kun 40 prosent av dette avfallet. </i>
                    </blockquote>
                    <h4>Biogasstrategien</h4>
                    <p>Avfall Norge er positive til utkastet til nasjonale og tverrsektorielle strategi for biogass - som ble lagt frem samtidig med regjeringens forslag til statsbudsjett - men etterlyser et tydelig mål og konkrete styringseffektive virkemidler. Utkastet til biogasstrategi løfter frem biogass som en viktig del av arbeidet med å omstille Norge til et lavutslippssamfunn fram mot 2050. Strategien - som er en oppfølging av klimaforliket i Stortinget fra juni 2012 - peker ut en rekke fordeler med biogass.
                    </p>
                    <p>Utnyttelse av avfall og gjødsel til biogass gir ren fornybar energi og innebærer en gevinst for både klima, lokalt miljø og det naturlige kretsløpet. Det slås fast at biogjødsel fra biogassanlegg sikrer resirkulering av næringsstoffer og reduserer bruken av mineralgjødsel. Det er imidlertid mange virkemidler som ikke er avklart, blant annet trenger vi å øke utsortering av matavfall. Vi etterlyser også styringseffektive virkemidler for å stimulere økt bruk av biogass i transportsektoren. En reduksjon i engangsavgiften for biogasskjøretøyer er et godt forslag til et slikt styringseffektivt virkemiddel..</p>
                </div>
		</div>
	</div>

            <div class="article-sidebar">
				<div class="article-sidebar-item">
					<h6>Del artikkelen</h6>
					<ul>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
						<li><a href="#" class="fa fa-envelope"></a></li>
					</ul>
				</div>
				<div class="article-sidebar-item">
					<h6>Skrevet av</h6>
					<p>Lisbeth Åsgård Meidel</p>
					<p class="small">@avfallnorge</p>
				</div>
				<div class="article-sidebar-item lastitem">
					<p>14. November 2014</p>
				</div>
            </div>


    </div>
</main>
