<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop.html'" class="hidden-xs hidden-sm"></div>

<header class="main">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-content">
                    <div class="carousel-content-inner">
                        <div class="carousel-text">
                            <h1 style="margin-bottom: 5px;">Avfallskonferansen</h1>
                            <h3 style="margin-top: 0px; margin-bottom: 20px; color: #fff;">Romerike 9.-11. Juni 2015</h3>
                            <p>Miljømyndighetene og bransjeorganisasjonene arrangerer et seminar for avfalls- og gjenvinningsanlegg med tillatelse fra fylkesmannen. Programmet er nå klart.</p>
                            <a href="#" class="btn btn-default btn-lg" style="margin-right: 15px; color: #111; border-radius: 2px;">Påmelding</a>
                            <a href="#" class="btn btn-default btn-lg" style="color: #111; border-radius: 2px">Mer Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-content">
                    <div class="carousel-content-inner">
                        <div class="carousel-text">
                            <h1>Avfall Norges innspill til regjeringens budsjettforslag</h1>
                            <p>8. oktober ble regjeringens forslag til statsbudsjett lagt frem. Avfall Norge har gitt sine innspill via Finanskomiteen, Næringskomiteen og Energi- og miljøkomiteen.</p>
                            <a href="#">Les mer</a>
                        </div>
                    </div>
                </div>
            </div>
            ...
        </div>


    </div>
</header>

<main class="home">
    <div class="main-inner">
        <div class="col-xs-12 col-md-8">
            <div class="row">

                <div class="newsitem-front">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image">
                            <span class="newsitem-front-img-placeholder"></span>
                        </div>
                        <div class="newsitem-front-content">
                            <h1>Avviksrapport for håndtering av farlig avfall</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Sundtoft vil be Klimadirektoratet se på "meningsløs" eksport av norsk avfall</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Miljøagentene forbereder en ny batterijakt i mars</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Seminar for avfallsanlegg med tillatelse fra fylkesmannen</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Avfall Norges innspill til regjeringens budsjettforslag</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-md-push-1">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 30px;">
                    <h3><a href="#/arrangementer">Arrangementer</a></h3>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                25
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Workshop:Kompetansebehov i bransjen</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                23
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Drifts- og mellomlederskolen 14/15</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                19
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Grunnkurs i avfall og gjenvinning</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                17
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Driftsforum for biogass</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                14
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Førjulssamling</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>

                <div class="calendar-item">
                    <div class="calendar-item-inner">
                        <div class="calendar-item-date">
                            <div class="calendar-item-date-inner">
                                9
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                        </div>
                        <div class="calendar-item-content">
                            <h5><a href="#/arrangementer/arrangement">Deponigasskurs</a></h5>
                            <p>Maskinentreprenørenes forbund (MEF), Fred Olsens gt. 3</p>
                        </div>
                    </div>
                </div>     

                <div class="col-xs-12">
                    <a href="#/arrangementer">Se alle arrangementer</a>
                </div>
            </div>
        </div>
    </div>
</main>