<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'" class="hidden-xs hidden-sm"></div>


<div class="loginbg">
<main>
    <div class="main-inner">
        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="login-mobile-inner">
                <div class="row logininfo">
                    <div class="col-xs-12">
                        <h3>Logg inn på din konto</h3>
                        <p>Dersom du får problemer med å logge inn for å melde deg på et kurs, kan dette skyldes innstillingene for såkalte ”cookies” eller informasjonskapsler i din nettleser. Last ned beskrivelse her for hvordan du kan slettet cookies.</p>
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Brukernavn</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Brukernavn">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Passord</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
  </div>
</form>
                    </div>
                </div>
                <div class="row loginbuttons">
                    <div class="col-xs-12">
                        <a href="#" class="btn btn-primary">Logg inn</a>
                        <a href="#" class="btn btn-default">Glemt passord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
