<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Om Avfall Norge</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
                <div class="col-xs-12">
                    <div class="article-image-top">
                        <span class="article-image-top-text">Bilde fra Avfall Norge</span>
                    </div>
                </div>
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Avfall Norges visjon for norsk avfallshåndtering er: "Håndtering av ressurser til beste for klima, helse og miljø". Til sammen håndterer våre medlemmer avfallet fra over 95 prosent av Norges befolkning. </p>
            </div>

            <div class="col-xs-12">
            	<hr>
            	<h4>Siste Nytt</h4>
            	<hr>
            </div>


                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Sundtoft vil be Klimadirektoratet se på "meningsløs" eksport av norsk avfall</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Miljøagentene forbereder en ny batterijakt i mars</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Seminar for avfallsanlegg med tillatelse fra fylkesmannen</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Avfall Norges innspill til regjeringens budsjettforslag</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-xs-12">
            	<hr>
            	<h4>Møtekalender</h4>
            	<hr>
            </div>

            <div class="col-xs-12 kalendertop">
            <div class="kalendertop-inner">
                <ul class="kalender-left">
                    <li><a class="fa fa-chevron-left"></a></li>
                </ul>
                <span class="kalender-month">
                    November
                </span>
                <ul class="kalender-right">
                    <li><a class="fa fa-chevron-right"></a></li>
                </ul>
            </div>
            </div>

            <div class="col-xs-12">

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                4
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Planlegging av renovasjonsløsninger</h4>
                        <span class="kalenderdato-liten fa fa-calendar">04.11 - 05.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">12.00 - 17.00</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                4
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Kontaktmøte Norsk Vann</h4>
                        <span class="kalenderdato-liten fa fa-calendar">04.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">10.30 - 11.00</span>
                        <p>Nancy, Henrik L, Henrik N.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                11
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Styringsgruppemøte Bio Value Chain</h4>
                        <span class="kalenderdato-liten fa fa-calendar">11.11 - 12.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">00.00 - 00.00</span>
                        <p>Henrik.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                12
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Søknadsworkshop validering</h4>
                        <span class="kalenderdato-liten fa fa-calendar">12.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">10.30 - 14.30</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                13
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Møte faggruppe: Rammetingelser og Jus</h4>
                        <span class="kalenderdato-liten fa fa-calendar">13.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">09.00 - 15.00</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

            </div>

        </div>
</main>

