<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'" class="hidden-xs hidden-sm"></div>


<div class="loginbg">
<main>
    <div class="main-inner">
        <div class="col-xs-12 col-md-8 col-md-push-2">
            <div class="login-mobile-inner">
                <div class="row logininfo">
                    <div class="col-xs-12">
                        <h3>Påmelding for: Drifts- og mellomlederskolen 14/15</h3>
                        <p>Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.</p>

                    </div>
                </div>

    <div class="row paamelding">
        <form role="form">

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1 required">Tittel</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Fornavn</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Etternavn</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Epost</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Hjemmeside</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Firma</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Addresse</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Postnummer</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Poststed</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Mobil</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Type foretak</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fornavn">
  </div>
</div>

<div class="col-xs-12 col-md-12">
  <div class="form-group">
    <label for="exampleInputEmail1">Kommentarer/forespørsel</label>
    <textarea class="form-control" rows="6"></textarea>
  </div>
</div>

<div class="col-xs-12">
  <button type="submit" class="btn btn-lg btn-primary">Meld deg på!</button>
</div>
</form>
    </div>

            </div>
        </div>
    </div>
</main>
</div>
