<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-ombransjen.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Lokale avfallsforum</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-ombransjen.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Mange av våre medlemmer har organisert seg i lokale avfallsforum. Her finner du en oversikt med kontaktinformasjon.</p>
                <br>
                <br>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Sør</h4>
                <p>Avfallsforum Sør har medlemmer fra Agderfylkene. Sekretariatet er i dag hos RKR i Kristiansand.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Lars Pedersen</li>
                    <li>Tlf. 95073661</li>
                    <li><a href="#">lars.pedersen@avfallsor.no</a>
                    </li>
                    <li><a href="#">Mer informasjon</a>
                    </li>
                </ul>
                <hr>
            </div>
            
            <div class="col-xs-12">
                <h4>Avfallsforumet for Osloregionen</h4>
                <p>Avfallsforumet for Oslo og Akershus har kommunale medlemmer fra de to fylkene. Sekretæransvaret går på omgang, for tiden er det Oslo REN som har ansvaret.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Torild Kløvstad Halvorsen</li>
                    <li><a href="#">torild.halvorsen@ren.oslo.kommune.no</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Innlandet</h4>
                <p>vfallsforum Innlandet ble vedtatt oppløst i 2013.
Arbeidet med arrangementet "Avfall innlandet" er tatt over av en programkomite:</p>
                <h5>Leder:</h5>
                <ul>
                    <li>Alf Tunheim</li>
                    <li><a href="#">alf.tunheim@eidsivaenergi.no</a>
                    </li>
                </ul>
                <br><br>
                <h5>Sekretær:</h5>
                <ul>
                    <li>Berit Hvoslef Dahl</li>
                    <li><a href="#">dk.heop@tekna.no</a>
                    </li>
                </ul>
                <br><br>
                <h5>For mer informasjon:</h5>
                <ul>
                    <li>Helge Bryhni</li>
                    <li>Tlf. 91823691</li>
                    <li><a href="#">helge.bryhni@hias.no</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Rogaland</h4>
                <p>Avfallsforum Rogaland har både kommunale og private avfallsselskaper som medlemmer.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Tord Tjeldflaat</li>
                    <li>Tlf. 93488561</li>
                    <li><a href="#"> tord.tjelflaat@ivar.no</a>
                    </li>
                    <li><a href="#">Mer informasjon</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Veset</h4>
                <p>Avfallsforum Vest har kommunale medlemmer fra Hordaland og Sogn og fjordane.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Toralf Igesund (BIR)</li>
                    <li>Tlf. 91568613</li>
                    <li><a href="#">toralf.igesund@bir.no</a>
                    </li>
                    <li><i>Gruppen er for tiden ikke i aktivitet.</i>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Møre og Romsdal</h4>
                <p>Avfallsforum Møre og Romsdal er åpen for alle som arbeider med avfall i fylktet. Sekretariatet ligger i dag hos NIR, Nordmøre Interkommunale Renovasjonsselskap, i Kristiansund.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Berit Øren</li>
                    <li>Tlf. 90673402</li>
                    <li><a href="#">berit.oren@rir.no</a>
                    </li>
                    <li><a href="#">Mer informasjon</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Midt-Norge</h4>
                <p>Avfallsforum Midt-Norge er et samarbeidsforum for offentlige og private aktører som arbeider med avfall i Midt-Norge.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Tone Pettersen Olden</li>
                    <li>Tlf. 93636160</li>
                    <li><a href="#">tone-pettersen.olden@renholdsverket.no</a>
                    </li>
                    <li><a href="#">Mer informasjon</a>
                    </li>
                </ul>
                <hr>
            </div>

            <div class="col-xs-12">
                <h4>Avfallsforum Nord</h4>
                <p>Avfallsforum Nord er åpent for virksomheter som arbeider med avfall i Nord-Norge.</p>
                <h5>Kontaktperson:</h5>
                <ul>
                    <li>Tor Forsmo</li>
                    <li>Tlf. 97425840</li>
                    <li><a href="#">tor@generatoras.no</a>
                    </li>
                    <li><a href="#">Mer informasjon</a>
                    </li>
                </ul>
                <hr>
            </div>

        </div>
</main>
