<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-ombransjen.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Lovverk for avfallsbransjen</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-ombransjen.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Her finner du noen lenker som kan hjelpe deg å finne lover og forskrifter som er relevante for avfallsbransjen.</p>
                <br><br>
                <h4>Forurensningsloven</h4>
                <p>Forurensningsloven er den aller viktigste loven innen vårt fagfelt.<br><a href="https://lovdata.no/dokument/NL/lov/1981-03-13-6">Du finner Forurensningsloven ved å klikke her</a></p>
                <br>
                <h4>Lovdata</h4>
                <p>På Lovdata sine nettsider kan du søke deg frem til alle relevante lover.<br><a href="https://lovdata.no/">Du finner Lovdatas nettsider ved å klikke her</a></p>
            </div>
        </div>
</main>
