<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-ombransjen.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Lindum søker medarbeider som avsetter/selger biorester m.m.</h1>
        <a href="#/ombransjen/stillinger" style="display: block; margin-bottom: 15px;">&lt; Tilbake til ledige stillinger</a>
    </div>
</div>

<main>
    <div class="main-inner">
        <div class="col-xs-12 col-md-8">
            <p class="lead" style="margin-bottom: 15px;">Lindum søker etter en medarbeider som skal avsette og selge biorester, komposter og jordprodukter til landbruk og grøntsektor.</p>
            <br>
            <br>
<!-- MOBILE -->

            <div class="well hidden-md hidden-lg">
                <span class="stilling-img">
                    <img class="img-responsive" src="img/lindium.gif" alt="">
                </span>
                <h4>Foretak</h4>
                <p>Lidum</p>
                <h4>Stilling</small></h4>
                <p>Medarbeider som skal avsette og selge biorester, komposter og jordprodukter til landbruk og grøntsektor.</p>
                <h4>Arbeidssted</h4>
                <p>Drammen</p>
                <h4>Søknadsfrist</h4>
                <p>24. november 2014</p>
                <br>
                <a href="#" class="btn btn-lg btn-primary" style="width: 100%;">Søk på stillingen</a>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#program" aria-expanded="true" aria-controls="program">
          Arbeidsoppgaver
        </a>
      </h4>
                    </div>
                    <div id="program" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        <ul>
                            <li>Markedsføre og avsette ulike biologiske produkttyper som slamkompost, biorest, hageavfallskompost, matavfallskompost og jord</li>
                            <li><hr></li>
                            <li>Utvikle avsetningsstrategier og forvalte Lindums biologiske produkter på en best mulig måte</li>
                            <li><hr></li>
                            <li>Skaffe og følge opp kunder og kundenettverk</li>
                            <li><hr></li>
                            <li>Bistå kunder med søknader og dokumentasjon</li>
                            <li><hr></li>
                            <li>Holde seg oppdatert og etterleve regelverket som bransjen er underlagt</li>
                            <li><hr></li>
                            <li>Bidra inn i relevante FOU prosjekter</li>
                        </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Kvalifikasjoner
        </a>
      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul>
                            <li>Lindum er på jakt etter en serviceorientert og strukturert person som samtidig har ”kremmerånd”</li>
                            <li><hr></li>
                            <li>Rett person har erfaring og bakgrunn fra landbruk og / eller gartneri / anleggsgartnerbransjen, og er kjent med økologisk landbruk</li>
                            <li><hr></li>
                            <li>Du må kunne holde orden på regelverk og rammebetingelser som gjelder for distribusjon av produktene</li>
                            <li><hr></li>
                            <li>Bistå kunder med søknader og dokumentasjon</li>
                            <li><hr></li>
                            <li>Holde seg oppdatert og etterleve regelverket som bransjen er underlagt</li>
                            <li><hr></li>
                            <li>Det vil legges vekt på gode samarbeidsegenskaper</li>
                            <li><hr></li>
                        </ul>
                        <p>Lindum er i en bransje hvor det kan skje raske endringer når det gjelder muligheter og rammebetingelser. Det innebærer at vi både som bedrift og ansatte må være innstilt på å løse nye arbeidsoppgaver og på nye måter. <br><br>Stillingen vil medføre en del reisevirksomhet.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Utdannelse/erfaring
        </a>
      </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            <li>Universitet, høyskole eller annen relevant kompetanse</li>
                            <li><hr></li>
                            <li>Landbruksfaglig erfaring, gjerne fra rådgivning</li>
                            <li><hr></li>
                            <li>Erfaring med kundekontakt og salg</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="well">
                <p style="margin-bottom: 0px;">Søknader til stillingen sendes til: <a href="#">ses@hrmgroup.no</a></p>
            </div>


        </div>
        <!-- END PANELS-->

        <div class="col-xs-12 col-md-4">
            <div class="well hidden-xs hidden-sm">
                <span class="stilling-img">
                    <img class="img-responsive" src="img/lindium.gif" alt="">
                </span>
                <h4>Foretak</h4>
                <p>Lidum</p>
                <h4>Stilling</small></h4>
                <p>Medarbeider som skal avsette og selge biorester, komposter og jordprodukter til landbruk og grøntsektor.</p>
                <h4>Arbeidssted</h4>
                <p>Drammen</p>
                <h4>Søknadsfrist</h4>
                <p>24. november 2014</p>
                <br>
                <a href="#" class="btn btn-lg btn-primary" style="width: 100%;">Søk på stillingen</a>
            </div>
            <div class="well">
                <h4>Spørsmål om stillingen</h4>
                <br>
                <h5>Stein-Erik Skogeng</h5>
                <small>Hrmgroup AS</small><br>
                <small>Tlf. 934 48 425</small><br>
                <small>Epost: <a href="#">ses@hrmgroup.no</a></small>
            </div>
        </div>
</main>
