<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-ombransjen.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Tall og fakta om bransjen</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-ombransjen.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Her finner du statistikk og tall som forteller om avfallsbransjens omfang.</p>
                <p>Statistisk sentralbyrå samler inn data som angår avfallsbransjen. <br><a href="http://www.ssb.no/natur-og-miljo">Finn ut mer om statistikk området avfall ved å klikke her.</a></p>
                <br>
                <br>
            </div>
        </div>
</main>