.article-image-top {
	background: #666;
	width: 100%;
	min-height: 350px;
	display: block;
	position: relative;
	margin-bottom: 30px;
}

.article-image-top-text {
    position:absolute;
    left:0;
    right:0;
    top: 50%;
    margin: 0 auto;
	color: #fff;
	font-size: 28px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

p.lead {
	margin-bottom: 60px;
	font-size: $font-size-h3;
}

p {
	margin-bottom: 30px;
}