.article {
    @extend .col-xs-12;
    @extend .col-md-9;
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
}
.article-inner {
    @extend .row;
}
.article-headline {
    @extend .col-xs-12;
    h1 {
        font-weight: 900;
        font-size: 42px;
    }
    margin-bottom: 30px;
}
.article-img {
    @extend .col-xs-12;
}
.article-img-info {
    @extend .col-xs-12;
    margin-top: 15px;
    span {
        font-family: $font-family-sans-serif;
        color: #aaa;
        &:before {
            font-family: 'FontAwesome';
            margin-right: 15px;
            color: #ccc;
        }
    }
}
.article-content {
    @extend .col-xs-12;
}
img.left-img {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-right: 20px;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    padding: 5px;
}
blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: $font-family-serif;
    font-size: 28px;
}
.infobox {
    float: right;
    width: 28%;
    height: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    padding: 15px;
    border-radius: 2px;
    margin: 0px 15px 15px 0px;
}
p.left {
    float: left;
    width: 68%;
    height: 100%;
}
.article-sidebar {
    @extend .col-xs-12;
    @extend .col-md-3;
    @media only screen and (max-width: 992px) {
        text-align: center;
    }
    h6 {
        color: #999;
        text-transform: uppercase;
        font-weight: 700;
    }
    @media only screen and (max-width: 992px) {
        margin-top: 60px;
    }
    @media only screen and (min-width: 992px) {
        margin-top: 120px;
    }
}
.article-sidebar-item {
    border-bottom: 1px dotted #ddd;
    padding: 0px 0px 20px 0px;
    margin-bottom: 50px;
    p {
        margin: 0px;
        padding: 0px;
    }
    p.small {
        margin: 0px;
        padding: 0px;
        color: #999;
    }
    ul {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        li {
            display: inline-block;
            flex-grow: 1;
            font-size: 16px;
            @media only screen and (max-width: 992px) {
                font-size: 48px;
                text-align: center;
            }
        }
    }
}
.article-sidebar-item.lastitem {
    border: none;
    margin-top: -30px;
    padding-top: 0px;
}
.article-backlink {
    @extend .col-xs-12;
    margin-bottom: 10px;
    a {
        font-family: $font-family-sans-serif;
        color: #999;
        &:before {
            font-family: 'FontAwesome';
            margin-right: 5px;
        }
    }
}
