footer {
	width: 100%;
	background: #ccc;
	border-top: 1px solid #bbb;
	height: 100%;
	padding: 30px 0px 60px 0px;
	color: #333;
	position: relative;
}

.nyhetsbrev {
height: 100%;
padding-bottom: 30px;
}

.nyhetsbrevform {
	padding-bottom: 60px;
}

.footer-bottom {
	position: absolute;
	background: #333;
	padding: 30px 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #aaa;
	a {
		&:hover {
			color: #fff;
		}
	}
}