header {
    background: #666;
    height: 450px;
    width: 100%;
}

header.main {
    @media only screen and (max-width: 992px) {
        margin-top: -60px;
    }
}
.carousel-inner {
    height: 450px;
    .item {
        height: 450px;
    }
}
.carousel-content {
    @extend .container;
    padding-top: 80px;
    h1 {
        color: #fff;
        word-wrap: break-word;
    }
    p {
        color: #ccc;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
.carousel-content-inner {
    @extend .row;
}
.carousel-text {
    @extend .col-xs-12;
    @extend .col-md-7;
    @extend .col-md-push-0;
}
.newsitem-front {
    @extend .col-xs-12;
    h1 {
        font-size: $font-size-h3;
    }
    margin-bottom: 60px;
}
.newsitem-front-small {
    @extend .col-md-6;
    h1 {
        font-size: $font-size-h4;
    }
    margin-bottom: 60px;
    @media only screen and (max-width: 992px) {
    h1 {
        font-size: $font-size-h3;
    }
    }
}
.newsitem-front-inner {
    @extend .row;
}
.newsitem-front-image {
    @extend .col-xs-12;
    @extend .col-md-12;
    margin-bottom: 30px;
}
.newsitem-front-image-small {
    @extend .col-xs-12;
    @extend .col-md-12;
    margin-bottom: 30px;
}
.newsitem-front-img-placeholder {
    display: block;
    width: 100%;
    height: 250px;
    background: #eee;
    border: 1px solid #ccc;
    @media only screen and (max-width: 992px) {
        height: 250px;
    }
}
.newsitem-front-img-placeholder-small {
    display: block;
    width: 100%;
    height: 150px;
    background: #eee;
    border: 1px solid #ccc;
    @media only screen and (max-width: 992px) {
        height: 250px;
    }
}
.newsitem-front-content {
    @extend .col-xs-12;
    @extend .col-md-12;
}
.newsitem-front-content-small {
    @extend .col-xs-12;
    @extend .col-md-12;
}
.newsitem-front-date {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
    color: #666;
    border-radius: 2px;

}
.newsitem-front-actions {
    @extend .col-xs-12;
}
.newsitem-front-actions-inner {
    display: block;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 5px 0px 5px 0px;
        li {
            margin-right: 15px;
            display: inline-block;
            a {
                color: #111;
                text-decoration: none;
            }
        }
    }
}
.socialandcontact {
    border-top: 1px solid #e9edf1;
    border-bottom: 1px solid #e9edf1;
    background: #f5f7f9;
    background-image: linear-gradient(90deg, #fff, #fff);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 60px 0;
    position: relative;
    @media only screen and (max-width: 992px) {
        background: #eee;
    }
}
.twitter {
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-6;
    h3 {
        margin-bottom: 40px;
    }
}
.twitter-inner {
    padding-right: 30px;
    @media only screen and (max-width: 992px) {
        padding: 30px 15px 30px 15px;
        margin-bottom: 30px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
    }
}
.contact {
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-6;
    h3 {
        margin-bottom: 40px;
    }
}
.contact-inner {
    padding-left: 30px;
    ul {
        list-style-type: none;
        padding: 0px;
        li.contact-item-heading {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    @media only screen and (max-width: 992px) {
        padding: 30px 15px 30px 15px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
    }
}

.calendar-item {
	@extend .col-xs-12;
}

.calendar-item-inner {
	@extend .row;
}

.calendar-item-date {
	@extend .col-xs-2;
	@extend .col-sm-2;
	@extend .col-md-3;
}

.calendar-item-date-inner {
	display: block;
	width: 100%;
	height: 100%;
	background: #666;
	color: #fff;
	font-size: 28px;
	text-align: center;
	position: relative;
        border-radius: 2px;
    @media only screen and (max-width: 992px) {
        font-size: 18px;
    }
}

.calendar-item-month {
	display: block;
	width: 100%;
	background: #333;
	font-size: 11px;
	text-align: center;
	padding: 3px 10px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    @media only screen and (max-width: 992px) {
        font-size: 8px;
    }
}

.calendar-item-content {
	@extend .col-xs-10;
	@extend .col-sm-10;
	@extend .col-md-9;
	h5 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
	a {
		color: #111;
		text-decoration: none;
	}
}