.login-mobile-inner {
	display: block;
	width: 100%;
	height: 100%;
	background: #f6f6f6;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    padding: 0px 15px;
}

.row.logininfo {
	background: #fff;
	padding: 20px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	p {
		color: #aaa;
	}
}

.row.loginbuttons {
	padding: 15px 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.loginbg {
    min-width: 100%;
    background: #f3f3f3;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    @media only screen and (max-width: 992px) {
        margin-top: -60px;
    }
}