body {
    padding-top: 125px;
}
main {
    @extend .container;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main-inner {
    @extend .row;
}
.content-left {
    @extend .col-xs-12;
    @extend .col-md-3;
}
ul.sidebar-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
        display: block;
        line-height: 30px;
        background: #fafafa;
        margin-bottom: 1px;
        padding: 5px 10px;
        a {
            color: #666;
            text-decoration: none;
            display: block;
            width: 100%;
        }
    }
    li.active {
        background: darken(#fafafa, 5%);
        a {
            color: #111;
            font-weight: 500;
        }
    }
}
.content-right {
    @extend .col-xs-12;
    @extend .col-md-9;
}
.page-header {
    margin-bottom: 0px;
}
