.kalendertop {
	width: 100%;
	height: 40px;
	background: #666;
	line-height: 40px;
	border-radius: 2px;
}

ul.kalender-left {
	float: left;
	li {
			border-right: 1px solid #777;
			line-height: 40px;
			padding: 0px 15px 0px 0px;
		a {
			color: #ccc;
			text-decoration: none;
		}
	}
}

ul.kalender-right {
	float: right;
	li {
			border-left: 1px solid #777;
			line-height: 40px;
			padding: 0px 0px 0px 15px;
		a {
			color: #ccc;
			text-decoration: none;
		}
	}
}

.kalender-month {
	position: absolute;
	width: 70%;
	height: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

.row.kalenderevent {
	background: #fafafa;
	margin-top: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 2px;
	h4 {
		margin-top: 0px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 0px;
	}
}

.kalenderdato-liten {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	color: #666;
	&:before {
		vertical-align: middle;
		margin-right: 5px;
	}
}

.kalendertidspunkt {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
	&:before {
		vertical-align: middle;
		margin-right: 5px;
	}
}