.navbar-desktop {
    background: #555;
    width: 100%;
    height: 50px;
    top: 75px;
    position: fixed;
    z-index: 9999;
    nav {
    	line-height: 50px;
        float: left;
    	li {
    		display: inline-block;
    		margin-right: 20px;
            text-transform: uppercase;
            font-weight: 500;
    		a {
    			color: #ccc;
                text-decoration: none;
    		}
    	}
        li.active {
            a {
                color: #fff;
            }
        }
    }
    nav.right {
        line-height: 50px;
        float: right;
        li {
            display: inline-block;
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: 500;
            a {
                color: #ccc;
                text-decoration: none;
            }
        }
        li.active {
            a {
                color: #fff;
            }
        }
    }
}