.page-header.special {
    background: #666;
    margin: 0px;
    padding: 160px 0px 60px 0px;
    h1 {
        color: #fff;
    }
    @media only screen and (max-width: 992px) {
       margin-top: -60px;
    }
}
// STYRET
.styremedlem {
    min-height: 140px;
    max-height: 140px;
    overflow: hidden;
    @media only screen and (max-width: 992px) {
        a {
            word-wrap: break-word;
        }
    }
}
.ansatt {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    @media only screen and (max-width: 992px) {
        a {
            word-wrap: break-word;
        }
    }
}
.gridStyle {
    width: 100%;
    min-height: 100%;
}
.arrangementer {
    @media only screen and (min-width: 992px) {
        .btn {
        	width: 100%;
        }
	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
    }
    .row.arrtop {
    	background: #333;
    	padding: 15px 0px;
    	font-weight: 700;
    	color: #fff;
    }
    .row.arr.odd {
    	background: #f4f4f4;
    	padding: 15px 0px;
    }
    .row.arr.even {
    	background: #fff;
    	padding: 15px 0px;
    }
}

td.signup {
    @media only screen and (max-width: 992px) {
		display: none;
	}
}

th.signup {
    @media only screen and (max-width: 992px) {
		display: none;
	}
}

// FAGOMRAADER

.fagomrindexitem {
    margin-bottom: 30px;
    min-height: 350px;
    max-height: 350px;
    @media only screen and (max-width: 992px) {
        margin-bottom: 80px;
    }
}

.fagomrindeximg-inner {
    width: 100%;
    height: 150px;
    background: #666;
    display: block;
    margin-bottom: 30px;
}

// STILLINGER

.stilling-img {
    margin-bottom: 30px;
    display: block;
    background: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

// KONTAKT

.kontaktskjema {
    margin-top: 30px;
}

.kontakt-kart-inner {
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

// ARBEIDSGRUPPE

.arbgr-navn {
    display: inline-block;
    padding-right: 15px;
    font-weight: 600;
    width: 35%;
    @media only screen and (max-width: 992px) {
        width: 75%;
    }
}

.arbgr-bedrift {
    display: inline-block;
    padding-right: 15px;
    width: 55%;
     @media only screen and (max-width: 992px) {
        display: none;
    }   
}

.arbgr-mail {
    display: inline-block;
    float: right;
}

// paamelding

.row.paamelding {
    padding: 20px;
}
