.rapport-bg {
	min-width: 100%;
	min-height: 100%;
    background: #eee;
    margin-top: -30px;
    @media only screen and (max-width: 992px) {
    margin-top: 0px;
    }
}

.rapport {
    @extend .container-fluid;
    background: #eee;
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;

}
.rapport-page {
}
.rapport-page-inner {
    background: #fff;
    min-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.25);
    border-top: 30px solid #85B919;
}