.rapport-container {
	@extend .row;
	margin-top: 1px;
}

.rapport-container-headings {
	@extend .row;
	margin-top: 20px;
	background: #eee;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}


.rapport-list-item {
	@extend .col-xs-12;
}

.rapport-list-item-inner-heading {
	@extend .row;
}

.rapport-list-item-inner {
	@extend .row;
	background: #fafafa;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rapport-list-item-inner.even {
	background: #fff;
}


.rapport-list-item-nryr {
	@extend .col-xs-2;
	word-wrap: break-word;
}

.rapport-list-item-title {
	@extend .col-xs-7;
	word-wrap: break-word;
}

.rapport-list-item-title-aar {
	@extend .col-xs-9;
	word-wrap: break-word;
}

.rapport-list-item-title-dl {
	@extend .col-xs-1;
	word-wrap: break-word;
}


.rapport-list-item-commissioner {
	@extend .col-xs-3;
	word-wrap: break-word;
}