.topbar-mobile {
    position: fixed;
    background: #555;
    width: 100%;
    height: 50px;
    z-index: 9999;
    .btn-group {
        width: 100%;
        position: relative;
        padding-top: 8px;
    }
    .btn {
        width: 100%;
    }
    .btn-default {
        background: #444;
        color: #fff;
        border: none;
    }
    .dropdown-menu {
        width: 100%;
        li a{
            line-height: 30px;
        }
    }    
}

a.navbar-toggle {
    font-size: 28px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    float: left;
    &:hover {
        color: #fff;
    }
}

li.logo {
    @media only screen and (max-width: 992px) {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 250px;
        text-align: center;
    }
}