.topbar {
    position: fixed;
    background: #333;
    width: 100%;
    height: 75px; 
    top: 0;
    left: 0;
    z-index: 9990;
}
ul.topbar-left {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 75px;
    @media only screen and (min-width: 992px) {
        float: left;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        img {
            width: 150px;
        }
    }
}

.topbar-right {
    display: inline-block;
    float: right;
    z-index: 99999;
}

form.navbar-form {
    padding-top: 12px;
    display: inline-block;
    z-index: 9999;
}

