@import "../bower/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower/jasny-bootstrap/dist/css/jasny-bootstrap.scss";
@import "../bower/components-font-awesome/scss/font-awesome.scss";
@import "../bower/ng-grid/ng-grid.scss";

// Globals

h1,h2,h3,h4,h5 {
	margin-top: 0px;
	padding-top: 0px;
}

p {
	font-size: 16px;
	font-weight: 300;
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}

.required:after {
    content: "*";
    padding-left:1%;
    color: red;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
    overflow-x: hidden;
}

// Partials

@import "partials/animation";
@import "partials/topbar";
@import "partials/navbar-desktop";
@import "partials/topnav-mobile";
@import "partials/main";
@import "partials/article";
@import "partials/homepage";
@import "partials/pageheaders";
@import "partials/motekalender";
@import "partials/login";
@import "partials/footer";
@import "partials/artikkelmal";
@import "partials/rapporter";
@import "partials/rapport";