    <div class="navbar-desktop">
        <div class="container visible-md visible-lg">
            <nav>
                <li ng-class="{active:isActive('/')}"><a href="#/">Hjem</a>
                </li>
                <li ng-class="{active:isActive('/omavfallnorge')}"><a href="#/omavfallnorge">Om Avfall Norge</a>
                </li>
                <li ng-class="{active:isActive('/ombransjen')}"><a href="#/ombransjen">Om Bransjen</a>
                </li>
                <li ng-class="{active:isActive('/arrangementer')}"><a href="#/arrangementer">Arrangementer</a>
                </li>
                <li ng-class="{active:isActive('/fagomraader')}">
                    <a href="#/fagomraader">Fagområder</a>
                </li>
            </nav>
            <nav class="right">
                <li ng-class="{active:isActive('/blimedlem')}">
                    <a href="#/blimedlem">Bli Medlem</a>
                </li>
                <li ng-class="{active:isActive('/logginn')}">
                    <a href="#/logginn">Logg Inn</a>
                </li>
            </nav>
        </div>
        <div class="topbar-mobile container hidden-md hidden-lg">
<div class="btn-group visible-xs visible-sm">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Undermeny <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
        <li ng-class="{active:isActive('/fagomraader/forskningogutvikling')}"><a href="#/fagomraader/forskningogutvikling">Forskning og utvikling</a>
        </li>
        <li ng-class="{active:isActive('/fagomraader/deponering')}"><a href="#/fagomraader/deponering">Deponering</a>
        </li>
        <li><a href="#">Energiutnyttelse</a>
        </li>
        <li><a href="#">Farlig avfall</a>
        </li>
        <li><a href="#">Biologisk behandling</a>
        </li>
        <li><a href="#">Innsamling og gjennvinning</a>
        </li>
        <li><a href="#">Avfall og juss</a>
        </li>
        <li><a href="#">Kommunikasjon</a>
        </li>
        <li><a href="#">Benchmarking</a>
        </li>
        <li ><a href="#">Andre fagområder</a>
        </li>
  </ul>
</div> 
        </div>
    </div>