<div class="content-left visible-md visible-lg">
    <ul class="sidebar-menu">
        <li ng-class="{active:isActive('/fagomraader/forskningogutvikling')}"><a href="#/fagomraader/forskningogutvikling">Forskning og utvikling</a>
        </li>
        <li ng-class="{active:isActive('/fagomraader/deponering')}"><a href="#/fagomraader/deponering">Deponering</a>
        </li>
        <li><a href="#">Energiutnyttelse</a>
        </li>
        <li><a href="#">Farlig avfall</a>
        </li>
        <li><a href="#">Biologisk behandling</a>
        </li>
        <li><a href="#">Innsamling og gjennvinning</a>
        </li>
        <li><a href="#">Avfall og juss</a>
        </li>
        <li><a href="#">Kommunikasjon</a>
        </li>
        <li><a href="#">Benchmarking</a>
        </li>
        <li ><a href="#">Andre fagområder</a>
        </li>
    </ul>
</div>