<div class="content-left visible-md visible-lg">
    <ul class="sidebar-menu">
        <li ng-class="{active:isActive('/ombransjen/generelt')}"><a href="#/ombransjen/generelt">Generelt om bransjen</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/tallogfakta')}"><a href="#/ombransjen/tallogfakta">Tall og fakta om bransjen</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/bransjekalender')}"><a href="#/ombransjen/bransjekalender">Bransjekalender</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/bransjenyheter')}"><a href="#/ombransjen/bransjenyheter">Bransjenyheter</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/stillinger')}"><a href="#/ombransjen/stillinger">Stillinger i avfallsbransjen</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/lokaleavfallsforum')}"><a href="#/ombransjen/lokaleavfallsforum">Lokale avfallsforum</a>
        </li>
        <li ng-class="{active:isActive('/ombransjen/lovverk')}"><a href="#/ombransjen/lovverk">Lovverk</a>
        </li>
        <li><a href="http://holdnorgerent.no/">Hold Norge Rent</a>
        </li>
        <li><a href="http://sortere.no/">Sortere.no</a>
        </li>
    </ul>
</div>
