<section class="socialandcontact">
    <div class="container">
        <div class="row">
            <div class="twitter">
                <div class="twitter-inner">
                <h3>Avfall Norge på Twitter</h3>
                    <div class="twitterbox">
                        <a class="twitter-timeline" href="https://twitter.com/AvfallNorge" data-widget-id="534273286662660097">Tweets av @AvfallNorge</a>
                        <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                        </script>
                    </div>
                </div>
            </div>
            <div class="contact">
                <div class="contact-inner">
                <div class="contactmap">
                </div>
                    <h3>Kontakt Oss</h3>
                    <ul>
                        <li class="contact-item-heading">Telefon (Ukedager 09-15)</li>
                        <li>+47 24 14 66 00</li>
                        <br>
                        <li class="contact-item-heading">Epost</li>
                        <li><a href="mailto:post@avfallnorge.no">post@avfallnorge.no</a></li>
                        <br>
                        <li class="contact-item-heading">Addresse</li>
                        <li>Avfall Norge</li>
                        <li>Øvre Vollgate 6</li>
                        <li>N-0158 Oslo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
