<div class="topbar">
    <div class="container">
        <ul class="topbar-left">
            <li class="hidden-md hidden-lg">
                <a class="navbar-toggle fa fa-bars" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></a>
            </li>
            <li class="logo"><img src="img/logo.svg" alt="">
            </li>
        </ul>
        <div class="topbar-right hidden-xs hidden-sm">

            <form class="navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Søk i Avfall Norge">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </form>

        </div>
    </div>
</div>
