<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-arrangementer.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Arrangementer</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-arrangementer.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <h2>Kurs og seminarer i Avfall Norge</h2>
                <p>Send oss gjerne tips og ideer til nye kurs, vi jobber stadig med å utvikle eksisterende og nye kurs.</p>
                <h4>Bedriftsinterne Kurs</h4>
                <p>I tillegg til de åpne kursene i listen nedenfor tilbyr Avfall Norge bedriftsinterne kurs til medlemmene. Vi kan holde kurs for de ansatte på din arbeidsplass - og tilpasser kursets innhold etter ønske. Ta kontakt med Avfall Norges administrasjon dersom du vil ha mer informasjon: Tlf: 24 14 66 00 eller <a href="#">post@avfallnorge.no</a>.</p>

                <h4>Fagbrev</h4>
                <p>Avfall Norge, Norsk Industri og MEF samarbeider om kurskompendiet som er pensum for fagbrev innen gjenvinningsfaget. Les mer om kurskompendiet og undervisning for å ta fagbrevet</p>
            </div>
        <div class="col-xs-12" style="margin-bottom: 20px;">
        <hr>
        	<h3>Arrangementskalender</h3>
        </div>
        <div class="col-xs-12">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Tittel</th>
			<th>Type</th>
			<th class="date">Dato</th>
			<th class="hidden-xs hidden-sm">Fylke</th>
			<th class="hidden-xs hidden-sm">Sted</th>
			<th class="signup">Påmelding</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Drifts- og mellomlederskolen 14/15</b></a></td>
			<td>Kurs</td>
			<td>Pågår</td>
			<td class="hidden-xs hidden-sm">Akershus</td>
			<td class="hidden-xs hidden-sm">Comfort Hotel RunWay Gardermoen</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary" disabled="disabled" style="width: 100%;">Avsluttet</a></td>
		</tr>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Grunnkurs i avfall og gjenvinning</b></a></td>
			<td>Kurs</td>
			<td>25.11.14</td>
			<td class="hidden-xs hidden-sm">Akershus</td>
			<td class="hidden-xs hidden-sm">Rica Hotel Gardermoen</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary" style="width: 100%;">Påmelding</a></td>
		</tr>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Kompetansebehov i bransjen</b></a></td>
			<td>Workshop</td>
			<td>25.11.14</td>
			<td class="hidden-xs hidden-sm">Oslo</td>
			<td class="hidden-xs hidden-sm">Maskinentreprenørenes forbund (MEF)</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary">Påmelding</a></td>
		</tr>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Driftsforum for biogass</b></a></td>
			<td>Seminar</td>
			<td>26.11.14</td>
			<td class="hidden-xs hidden-sm">Nord-Trøndelag</td>
			<td class="hidden-xs hidden-sm">Rica Hell, Stjørdal</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary" disabled="disabled" style="width: 100%;">Avsluttet</a></td>
		</tr>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Førjulssamling</b></a></td>
			<td>Seminar</td>
			<td>27.11.14</td>
			<td class="hidden-xs hidden-sm">Oslo</td>
			<td class="hidden-xs hidden-sm">Avfall Norge</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary" style="width: 100%;">Påmelding</a></td>
		</tr>
		<tr class="table-striped">
			<td><a href="#/arrangementer/arrangement"><b>Deponigasskurs</b></a></td>
			<td>Workshop</td>
			<td>02.12.14</td>
			<td class="hidden-xs hidden-sm">Akershus</td>
			<td class="hidden-xs hidden-sm">Rica Hotel Gardermoen</td>
			<td class="signup"><a href="#/paamelding" class="btn btn-primary" style="width: 100%;">Påmelding</a></td>
		</tr>
	</tbody>
</table>
        </div>
		
        </div>
</main>
