<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-arrangementer.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Drifts- og mellomlederskolen 14/15</h1>
        <a href="#/arrangementer" style="display: block; margin-bottom: 15px;">&lt; Tilbake til arrangementer</a>
    </div>
</div>

<main>
    <div class="main-inner">
        <div class="col-xs-12 col-md-8">
            <p class="lead" style="margin-bottom: 15px;">Avfall Norge og MEF tilbyr nok en gang Drifts- og mellomlederskolen for sine medlemmer. Målgruppen er driftsledere og mellomledere i avfallsbransjen.</p>
            <p>I perioden september 2014 - mars 2015 vil deltakerne møtes på Comfort Hotel RunWay på Gardermoen. Skolen omfatter totalt seks samlinger av tre dager. Har du problemer med LOGG INN, ta kontakt med sekretariatet på epost: post@avfallnorge.no eller telefon: 24 14 66 00.</p>
            <br>
            <br>
<!-- MOBILE -->

            <div class="well hidden-md hidden-lg">
                <h4>Kontakt</h4>
                <p>Avfall Norge</p>
                <h4>Deltakeravgift <small>eks.mva.</small></h4>
                <p>Kun for medlemmer: 50 000 kr
                    <br>(2x25000, betales i to omganger).</p>
                <h4>Dato</h4>
                <p>15. september 2014 - 11. mars 2015</p>
                <h4>Sted</h4>
                <p>Comfort Hotel RunWay Gardermoen, Akershus</p>
                <br>
                <a href="#/paamelding" class="btn btn-lg btn-primary" style="width: 100%;">Påmelding</a>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#program" aria-expanded="true" aria-controls="program">
          Program
        </a>
      </h4>
                    </div>
                    <div id="program" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 1: Lederskap</h5>
                                    <ul>
                                        <li>Hva er en leder?</li>
                                        <li>Visjoner og dilemma</li>
                                        <li>Plikt og ansvar</li>
                                        <li>Jeg som leder idag</li>
                                        <li>Møter som arbeidsform</li>
                                        <li>Arbeidsledelse</li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 2: Bransjen i samfunnet</h5>
                                    <ul>
                                        <li>Funksjoner og roller</li>
                                        <li>Holdninger og omdømme</li>
                                        <li>Befaringer hos ulike avfallsanlegg</li>
                                        <li>Rammebetingelser: tillatelser, lover og forskrifter</li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 3: Marked og kunde</h5>
                                    <ul>
                                        <li>Kunde og leverandør</li>
                                        <li>Kundekontakt</li>
                                        <li>Plikt og ansvar</li>
                                        <li>Avtaleforhandlinger</li>
                                        <li>Marked</li>
                                        <li>Logistikk</li>
                                    </ul>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 4: Bedriften, økonomien og administrativ styring</h5>
                                    <ul>
                                        <li>Mål for bedriften</li>
                                        <li>Organisering</li>
                                        <li>Administrative rutiner</li>
                                        <li>Arbeidstaker og arbeidsgiverrolle</li>
                                        <li>Økonomi og regnskapsforståelse</li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 5: Kvalitetssikring og HMS</h5>
                                    <ul>
                                        <li>Hensikt og metoder</li>
                                        <li>Kvalitetssikringssystemer</li>
                                        <li>HMS</li>
                                        <li>Arbeidsmiljøloven</li>
                                        <li>Avvik og avviksbehandling</li>
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                                    <h5>Samling 6: Kollegaer og samarbeid</h5>
                                    <ul>
                                        <li>Konflikt og konflikthåndtering</li>
                                        <li>Leder som medmenneske</li>
                                        <li>Utvikling av medarbeidere</li>
                                        <li>Inspirasjon og selvbilde</li>
                                        <li>Møter som arbeidsform</li>
                                        <li>Jeg som leder nå?</li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Generell informasjon
        </a>
      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h4>Generelt om kurset</h4>
                        <p>Skolen gjennomføres modulbasert. Det avholdes seks moduler, hver på tre dager. Oppstart kl 10.00 første dag, avslutning kl 15.00 siste dag. Deltakerne må delta på alle modulene. Opplæringen vil gjennomføres som en blanding av tradisjonelle forelesinger, gruppeareid og befaringer. Det vil være obligatoriske innleveringsoppgaver, og skolen avsluttes med en eksamen og det vil bli gitt karakterer.</p>
                        <p>Vi anbefaler at deltakerne bor på kurshotellet fordi gruppearbeid kan kreve lange dager.</p>
                        <p>
                            <h5>Samling 1: Lederskap</h5> 15.-17. september 2014
                            <br>
                            <br>
                            <h5>Samling 2: Bransjen </h5> 13.-15. oktober 2014
                            <br>
                            <br>
                            <h5>Samling 3: Marked og kunde</h5> 10.-12. november 2014
                            <br>
                            <br>
                            <h5>Samling 4: Bedriften, økonomien og adm.styring</h5> 12.-14. januar 2015
                            <br>
                            <br>
                            <h5>Samling: 5: Kvalitetssikring og HMS</h5> 9.-11. februar 2015
                            <br>
                            <br>
                            <h5>Samling 6: Kollegaer og samarbeid</h5> 9.-11. mars 2015
                            <br>
                            <br> Minimum antall deltakere: 13.
                            <br> Maks antall deltakere: 25.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Læringsmål
        </a>
      </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>Mellomlederskolen egner seg for driftsledere som er nye i bransjen eller ønsker å formalisere sin kunnskap. Skolen skal bidra til å heve driftsledernes formelle kunnskapnivå og til å skape trygge og reflekterte mellomledere. Skolen bidrar også til erfaringsutveksling på tvers av bransjen og at mellomledere kan bygge seg et nyttig nettverk av likesinnede kolleger.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Kursleder
        </a>
      </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-3 col-md-2">
                                <img class="img-responsive" src="img/tore.png" alt="">
                            </div>
                            <div class="col-xs-9 col-md-10">
                                <h4>Tore Veløy</h4>
                                <h6>Selvstending næringsdrivende</h6>
                                <p>Han har lang erfaring innen bransjen og har i en årrekke jobbet i MEF. Han er nå selvstendig næringsdrivende og jobber som rådgiver.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Sted
        </a>
      </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <h4><a href="https://www.nordicchoicehotels.no/comfort/comfort-hotel-runway/?gclid=CNeHit-hirsCFcdZ3god528AQQ">Comfort Hotel RunWay</a></h4>
                            </div>
                            <div class="col-xs-12">
                                <embed src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1983.2628991697966!2d11.069754000000001!3d60.19293200000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46418376342a2545%3A0xb591e8bbbb518662!2sComfort+Hotel+RunWay!5e0!3m2!1sno!2sno!4v1416782291794" width="100%" height="450" frameborder="0" style="border:0"></embed>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Kontakt
        </a>
      </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">

<h5>Har du spørsmål, ta kontakt med: </h5>
<ul>
    <li><h4>Karin Halvorsen, Kurssekretær</h4></li>
    <li>Telefon sentralbord: 22 14 66 00</li>
    <li>Epost: <a href="#">karin.halvorsen@avfallnorge.no</a></li>
</ul>

                    </div>
                </div>
            </div>


        </div>
        <!-- END PANELS-->

        <div class="col-xs-12 col-md-4">
            <div class="well hidden-xs hidden-sm">
                <h4>Kontakt</h4>
                <p>Avfall Norge</p>
                <h4>Deltakeravgift <small>eks.mva.</small></h4>
                <p>Kun for medlemmer: 50 000 kr
                    <br>(2x25000, betales i to omganger).</p>
                <h4>Dato</h4>
                <p>15. september 2014 - 11. mars 2015</p>
                <h4>Sted</h4>
                <p>Comfort Hotel RunWay Gardermoen, Akershus</p>
                <br>
                <a href="#/paamelding" class="btn btn-lg btn-primary" style="width: 100%;">Påmelding</a>
            </div>
            <div class="well">
                <h4>Dokumenter</h4>
                <p>Det er ikke publisert noen dokumenter.</p>
            </div>
        </div>
</main>
