<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Aktuell avfallspolitikk</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Avfall Norges inspill til regjeringens budsjettforslag</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>8. oktober ble regjeringens forslag til statsbudsjett lagt frem. Avfall Norge har gitt sine innspill via Finanskomiteen, Næringskomiteen og Energi- og miljøkomiteen.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Statsbudsjettet 2015</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Avfall Norge er meget godt fornøyd med regjeringens forslag om å fjerne deponiavgiften. Det er også positivt at det lagt frem en strategi for biogass som behandlingsmetode for avfall, det gjenstår likevel å definerer tydelige mål og virkemidler for matavfall.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Statsbudsjettet: Deponiavgift foreslås fjernet</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Regjeringen er enig med Avfall Norge om at avgift på sluttbehandling av avfall ikke er samfunnsøkonomisk nyttig, og vil ha den fjernet i forslag til statsbudsjettet.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Strategi uten klare mål</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Avfall Norge er positive til klima- og miljøminister Sundtofts utkast til nasjonale og tverrsektorielle strategi for biogass, men vi etterlyser et tydelig mål.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Avfall Norges inspill til regjeringens budsjettforslag</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>8. oktober ble regjeringens forslag til statsbudsjett lagt frem. Avfall Norge har gitt sine innspill via Finanskomiteen, Næringskomiteen og Energi- og miljøkomiteen.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Statsbudsjettet 2015</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Avfall Norge er meget godt fornøyd med regjeringens forslag om å fjerne deponiavgiften. Det er også positivt at det lagt frem en strategi for biogass som behandlingsmetode for avfall, det gjenstår likevel å definerer tydelige mål og virkemidler for matavfall.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Statsbudsjettet: Deponiavgift foreslås fjernet</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Regjeringen er enig med Avfall Norge om at avgift på sluttbehandling av avfall ikke er samfunnsøkonomisk nyttig, og vil ha den fjernet i forslag til statsbudsjettet.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-content-small">
                            <h1>Strategi uten klare mål</small></h1>
                            <span class="newsitem-front-date" style="margin-bottom: 5px;">26. November</span>
                            <p>Avfall Norge er positive til klima- og miljøminister Sundtofts utkast til nasjonale og tverrsektorielle strategi for biogass, men vi etterlyser et tydelig mål.</p>
                            <a href="#/artikkelmal">Les mer</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <nav>
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
                </div>

        </div>
</main>