<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Arbeidsgrupper</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Litt tekst om arbeidsgruppene generelt og deres formål.</p>
                <p>Det finnes mange ulike varianter av Lorem Ipsum, men majoriteten av disse har blitt tuklet med på et eller annet vis. Det være seg innlagt humor eller tilfeldig genererte ord som ser langt fra troverdige ut.</p>
            </div>
        <div class="col-xs-12">
<table class="table table-striped">
    <tbody>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for kommunikasjon</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for innsamling og gjennvinning</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for energiutnyttelse</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for avfall og juss</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for biologisk avfallsbehandling</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for deponering</b></a></td>
        </tr>
        <tr class="table-striped">
            <td><a href="#/omavfallnorge/arbeidsgrupper/arbeidsgruppe"><b>Arbeidsgruppe for farlig avfall</b></a></td>
        </tr>
    </tbody>
</table>
        </div>

        </div>
</main>
