<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Arbeidsgruppe for kommunikasjon</h1>
        <a href="#/omavfallnorge/arbeidsgrupper" style="display: block; margin-bottom: 15px;">&lt; Tilbake til arbeidsgruppene</a>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
                <div class="col-xs-12">
                    <div class="article-image-top">
                        <span class="article-image-top-text">Bilde av faggruppen</span>
                    </div>
                </div>
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Arbeidsgruppen for kommunikasjon er organisasjonens fagutvalg for kommunikasjon. Gruppen skal fremme kunnskap blant medlemmene om kommunikasjonsrelaterte problemstillinger gjennom å arrangere fagrelevante kurs og seminarer, samt gjennomføre felles kommunikasjonsprosjekter.</p>
                <p>Avfall Norge tar også initiativ til og gjennomfører kampanjer i samarbeid med andre. Arbeidsgruppen har i dag åtte medlemmer som alle jobber med informasjon/kommunikasjon hos Avfall Norges medlemmer. Arbeidsgruppen avholder fem møter i året.</p>
            </div>

            <div class="col-xs-12" style="margin-top: 30px;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aktuelt prosjekt - Avfallspyramiden for barneskolen</h3>
                    </div>
                    <div class="panel-body">
                        <p>Avfall Norges arbeidsgruppe for kommunikasjon har støttet prosjektet med 200.000,- i FoU-midler for 2013.
                            <br>
                            <br>Avfallspyramiden er per i dag et interaktivt undervisningstilbud med elever i ungdomsskolen som målgruppe. Elevene lærer om avfallsreduksjon, ombruk, material- og energigjenvinning, og miljøgifter. Verktøyet representerer en ny måte å tenke undervisning om avfall på. Avfallspyramiden er utviklet som en del av LOOP Miljøskole, er gratis tilgjengelig og ligger på avfallspyramiden.no.
                            <br>
                            <br>Målet med prosjektet for 2013 er å tilrettelegge innholdet i Avfallspyramiden slik at den kan brukes i undervisning og opplæring av elever på 4. trinn. Dette innebærer blant annet at innholdet tilpasses kompetansemålene i Læreplanene etter 4. trinn, og at innholdet tilrettelegges aldersgruppen pedagogisk. En tilrettelegging av Avfallspyramiden for denne gruppen vil kommuner og IKS’er, et nyttig og moderne verktøy i deres arbeid med opplæring om avfall og ressurser. Avfallspyramiden for barneskolen skal være tilgjengelig for bruk også for elever som går på et lavere trinn enn 4. Likevel er det altså kompetansemålene etter 4. trinn som ligger til grunn.</p>
                    </div>
                </div>

            </div>

            <div class="col-xs-12" style="margin-top: 30px;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Medlemmer i arbeidsgruppen</h3>
                    </div>
                    <div class="panel-body">

                    <ul>
                        <li class="header">Leder</li>
                        <li><span class="arbgr-navn">Mette Nygård Havre</span><span class="arbgr-bedrift">BIR AS</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>
                        <li><hr></li>
                        <li class="header">Medlemmer</li>
                        <li><span class="arbgr-navn">Kristin Bergersen</span><span class="arbgr-bedrift">Oslo kommune Renovasjonsetaten (REN)</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>
                        <li><span class="arbgr-navn">Siw Line Thomassen</span><span class="arbgr-bedrift">Vest-Finnmark Avfallsselskap (VEFAS)</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>
                        <li><span class="arbgr-navn">Ingeborg Ukkelberg</span><span class="arbgr-bedrift">ÅRIM</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>
                        <li><span class="arbgr-navn">Heidi Viki</span><span class="arbgr-bedrift">Skien kommune</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>
                         <li><hr></li>
                        <li class="header">Sekretær</li>
                        <li><span class="arbgr-navn">Lisbeth Åsgård Meidell</span><span class="arbgr-bedrift">Avfall Norge</span><span class="arbgr-mail"><a href="#" class="fa fa-envelope-o"></a></span></li>                 
                    </ul>

                    </div>
                </div>

            </div>

        </div>
</main>
