<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>


<div class="page-header">
    <div class="container">
        <h1>Avfall Norge mener</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
            <div class="col-xs-12">
                <p class="lead" style="margin-bottom: 15px;">Avfall Norge jobber for å samle avfallsbransjen om felles prosjekter i arbeidet for bedre rammebetingelser. Dokumentet "Dette mener Avfall Norge" oppsummerer organisasjonens samlede ståsted.</p>
                <p>Avfall Norge vedtok i 2009 det første posisjonsnotat "Dette mener Avfall Norge". Notatet har dannet grunnlag for organisasjonens interessepolitiske arbeid og sikrer en mer langsiktig tenkning. Høsten 2010 har Avfall Norges arbeidsgrupper utformet innspill til revidering av notatet. Det reviderte posisjonsnotatet ble vedtatt på Hovedstyrets møte 7. juni 2011.</p>
                <p>Avfall Norge jobber aktivt med aktuelle avfallspolitiske saker. Dette går blant annet ut på å utarbeide høringsuttalelser på vegne av medlemmene. <a href="#">Her finner du mer om Avfall Norges høringsutalelser og innspill til offentlige myndigheter.</a></p>
            </div>

        </div>
</main>
