<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>


<div class="page-header">
    <div class="container">
        <h1>Møtekalender</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
            <div class="col-xs-12 kalendertop">
            <div class="kalendertop-inner">
                <ul class="kalender-left">
                    <li><a class="fa fa-chevron-left"></a></li>
                </ul>
                <span class="kalender-month">
                    November
                </span>
                <ul class="kalender-right">
                    <li><a class="fa fa-chevron-right"></a></li>
                </ul>
            </div>
            </div>

            <div class="col-xs-12">

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                4
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Planlegging av renovasjonsløsninger</h4>
                        <span class="kalenderdato-liten fa fa-calendar">04.11 - 05.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">12.00 - 17.00</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                4
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Kontaktmøte Norsk Vann</h4>
                        <span class="kalenderdato-liten fa fa-calendar">04.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">10.30 - 11.00</span>
                        <p>Nancy, Henrik L, Henrik N.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                11
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Styringsgruppemøte Bio Value Chain</h4>
                        <span class="kalenderdato-liten fa fa-calendar">11.11 - 12.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">00.00 - 00.00</span>
                        <p>Henrik.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                12
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Søknadsworkshop validering</h4>
                        <span class="kalenderdato-liten fa fa-calendar">12.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">10.30 - 14.30</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

                <div class="row kalenderevent">
                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
                            <div class="calendar-item-date-inner">
                                13
                                <span class="calendar-item-month">Nov.</span>
                            </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-md-10 col-lg-11">
                        <h4>Møte faggruppe: Rammetingelser og Jus</h4>
                        <span class="kalenderdato-liten fa fa-calendar">13.11</span>
                        <span class="kalendertidspunkt fa fa-clock-o">09.00 - 15.00</span>
                        <p>Ingen detaljer.</p>
                    </div>
                </div>

            </div>

        </div>
</main>
