<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>


<div class="page-header">
    <div class="container">
        <h1>Kontakt Oss</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">
            <div class="col-xs-12 col-md-4" style="margin-bottom: 30px;">
                <p class="lead" style="margin-bottom: 15px;">Avfall Norge</p>
                    <ul>
                        <li class="contact-item-heading"><b>Telefon (Ukedager 09-15)</b></li>
                        <li>+47 24 14 66 00</li>
                        <br>
                        <li class="contact-item-heading"><b>Epost</b></li>
                        <li><a href="mailto:post@avfallnorge.no">post@avfallnorge.no</a></li>
                        <br>
                        <li class="contact-item-heading"><b>Addresse</b></li>
                        <li>Avfall Norge</li>
                        <li>Øvre Vollgate 6</li>
                        <li>N-0158 Oslo</li>
                    </ul>

            </div>

            <div class="col-xs-12 col-md-8">
<div class="kontakt-kart-inner">
                    <embed src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.2503738458367!2d10.737070000000012!3d59.911392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416e87a3a78c09%3A0xd69bac665c7323aa!2sAvfall+Norge!5e0!3m2!1sno!2sno!4v1416855485927" width="100%" height="250" frameborder="0" style="border:0"></embed>
</div>
            </div>

            <div class="col-xs-12 kontaktskjema">
                <div class="well">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Firma</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Firma">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fornavn</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Fornavn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Etternavn</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Etternavn">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Addresse</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Addresse">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Postnr.</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Postnr.">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Sted</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Sted">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Epost</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Epost">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Telefon</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Faks</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Faks">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Melding</label>
                                    <textarea class="form-control" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                    </form>
                    </div>

                </div>
            </div>

        </div>
</main>
