<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Medlemsbedrifter</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">

        <div class="col-xs-12" style="overflow-x: hidden;">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>

        <div class="col-xs-12">
            <nav>
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
        </div>


        </div>
    </div>
</main>
