<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Nyheter</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">

                <div class="newsitem-front">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image">
                            <span class="newsitem-front-img-placeholder"></span>
                        </div>
                        <div class="newsitem-front-content">
                            <h1>Avviksrapport for håndtering av farlig avfall</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Sundtoft vil be Klimadirektoratet se på "meningsløs" eksport av norsk avfall</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Miljøagentene forbereder en ny batterijakt i mars</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Seminar for avfallsanlegg med tillatelse fra fylkesmannen</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="newsitem-front-small">
                    <div class="newsitem-front-inner">
                        <div class="newsitem-front-image-small">
                            <span class="newsitem-front-img-placeholder-small"></span>
                        </div>
                        <div class="newsitem-front-content-small">
                            <h1>Avfall Norges innspill til regjeringens budsjettforslag</h1>
                            <span class="newsitem-front-date">26. November</span>
                            <p>Avfall Norge har i samarbeid med Cowi kartlagt hvilke avvik som oftest oppstår på avfallsmottak og årsakene til dette. Arbeidet omfatter en gjennomgang av avvik dokumentert i 66 rapporter fra Avfall Norges medlemsbedrifter. Kartleggingen ble igangsatt etter Fylkesmannens tilsynsaksjon for håndtering av farlig avfall høsten 2013.</p>
                        </div>
                        <div class="newsitem-front-actions">
                            <div class="newsitem-front-actions-inner">
                                <ul>
                                    <li><a href="#/artikkelmal">Les mer</a>
                                    </li>
                                    <li><a href="#">Del artikkelen</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <nav>
  <ul class="pagination">
    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav>
                </div>

        </div>
    </div>
</main>
