<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Rapporter</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">

        <div class="col-xs-12">
                            <p class="lead" style="margin-bottom: 15px;">Avfall Norges rapporter</p>
                <p>Her finner du en enkel tabell med oversikt over Avfall Norge sine fag- og årsrapporter.</p>
        </div>

<div class="col-xs-12">
    <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab" data-target="#home">Fagrapporter</a></li>
    <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" data-target="#profile">Årsrapporter</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="rapport-container-headings">
            <div class="rapport-list-item">
                <div class="rapport-list-item-inner-heading">
                    <div class="rapport-list-item-nryr">Nr</div>
                    <div class="rapport-list-item-title">
                        Tittel
                    </div>
                    <div class="rapport-list-item-commissioner">
                        Oppdragstaker
                    </div>
                </div>
            </div>
        </div>
        <div class="rapport-container">

            <div class="rapport-list-item">
                <div class="rapport-list-item-inner">
                    <div class="rapport-list-item-nryr">7-2014</div>
                    <div class="rapport-list-item-title">
                        <b>Kostnader ved utsortering av produsentansvarsavfall</b>
                    </div>
                    <div class="rapport-list-item-commissioner">
                        Energidata Consulting
                    </div>
                </div>
            </div>

            <div class="rapport-list-item even">
                <div class="rapport-list-item-inner even">
                    <div class="rapport-list-item-nryr">5-2014</div>
                    <div class="rapport-list-item-title">
                        <b>Anbudsveileder for anskaffelse av behandlingstjenester</b>
                    </div>
                    <div class="rapport-list-item-commissioner">
                        Asplan Viak
                    </div>
                </div>
            </div>

            <div class="rapport-list-item">
                <div class="rapport-list-item-inner">
                    <div class="rapport-list-item-nryr">4-2014</div>
                    <div class="rapport-list-item-title">
                        <b>Økt kunnskap om kompost og biorest i landbruket</b>
                    </div>
                    <div class="rapport-list-item-commissioner">
                        Romerike Landbruksrådgivning
                    </div>
                </div>
            </div>

            <div class="rapport-list-item even">
                <div class="rapport-list-item-inner even">
                    <div class="rapport-list-item-nryr">7-2014</div>
                    <div class="rapport-list-item-title">
                        <b>Status for energiutnyttelse</b>
                    </div>
                    <div class="rapport-list-item-commissioner">
                        Thema Consulting Group
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">

        <div class="rapport-container-headings">
            <div class="rapport-list-item">
                <div class="rapport-list-item-inner-heading">
                    <div class="rapport-list-item-nryr">År</div>
                    <div class="rapport-list-item-title-aar">
                        Dokument
                    </div>
                </div>
            </div>
        </div>

        <div class="rapport-container">

            <div class="rapport-list-item">
                <div class="rapport-list-item-inner">
                    <div class="rapport-list-item-nryr">2014</div>
                    <div class="rapport-list-item-title-aar">
                        <a href="#/omavfallnorge/rapporter/rapport"><b>Årsrapport 2014</b></a>
                    </div>
                    <div class="rapport-list-item-title-dl">
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="rapport-list-item even">
                <div class="rapport-list-item-inner even">
                    <div class="rapport-list-item-nryr">2013</div>
                    <div class="rapport-list-item-title-aar">
                        <b>Årsrapport 2013</b>
                    </div>
                    <div class="rapport-list-item-title-dl">
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="rapport-list-item">
                <div class="rapport-list-item-inner">
                    <div class="rapport-list-item-nryr">2012</div>
                    <div class="rapport-list-item-title-aar">
                        <b>Årsrapport 2012</b>
                    </div>
                    <div class="rapport-list-item-title-dl">
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="rapport-list-item even">
                <div class="rapport-list-item-inner even">
                    <div class="rapport-list-item-nryr">2011</div>
                    <div class="rapport-list-item-title-aar">
                        <b>Årsrapport 2011</b>
                    </div>
                    <div class="rapport-list-item-title-dl">
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>

        </div>


    </div>
  </div>

</div>
</div>



        </div>
</main>
