<div data-ng-include data-src="'partials/modules/topbar.html'"></div>
<div data-ng-include data-src="'partials/modules/navbartop-omavfall.html'"></div>

<div class="page-header">
    <div class="container">
        <h1>Styret</h1>
    </div>
</div>

<main>
    <div class="main-inner">
        <div data-ng-include data-src="'partials/modules/sidebarmenu-omavfallnorge.html'"></div>

        <div class="content-right">

        <div class="col-xs-12" style="margin-bottom: 30px;">
            <p class="lead" style="margin-bottom: 15px;">Avfall Norges Hovedstyre består av 7 medlemmer og 3 varamedlemmer. Disse velges på Avfall Norges generalforsamling for to år av gangen.</p><p> Nedenfor ser du hvem som er medlemmer i hovedstyret etter generalforsamlingen 4. juni 2013. Dato for Hovedstyrets møter finner du i Avfall Norges <a href="#">Bransjekalender</a> (det tar litt tid før informasjon vises i kalenderen).</p>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/kjell.png" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Kjell Øyvind Pedersen</h4>
                        <h6>Hovedstyreleder</h6>
                        <ul>
                            <li>93488505</li>
                            <li><a href="#">kjelloyvind.pedersen@ivar.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/berit.png" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Berit Emelie Pettersen</h4>
                        <h6>Nestleder</h6>
                        <ul>
                            <li>91875336</li>
                            <li><a href="#">berit@reno-vest.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/knut.gif" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Knut Eirik Ballestad</h4>
                        <h6>Styremedlem</h6>
                        <ul>
                            <li>99094718</li>
                            <li><a href="#">knut-eirik.ballestad@trv.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/elisabeth.jpg" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Elisabeth Haukaas Bjerke</h4>
                        <h6>Styremedlem</h6>
                        <ul>
                            <li>95217636</li>
                            <li><a href="#">ehb@glor.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/ove.png" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Ove Henning Bjørsvik</h4>
                        <h6>Styremedlem</h6>
                        <ul>
                            <li>99428717</li>
                            <li><a href="#">ovehenning.bjorsvik@bir.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/toril.gif" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Toril Borvik</h4>
                        <h6>Styremedlem</h6>
                        <ul>
                            <li>93016220</li>
                            <li><a href="#">toril.borvik@ren.oslo.kommune.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/andreas.gif" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Andreas Gillund</h4>
                        <h6>Styremedlem</h6>
                        <ul>
                            <li>45635244</li>
                            <li><a href="#">andreas.gillund@vesar.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/fredrik.gif" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Fredrik Hellström</h4>
                        <h6>1. Varamedlem</h6>
                        <ul>
                            <li>91553325</li>
                            <li><a href="#">frhe@fredrikstad.kommune.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/gunn.png" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Gunn Janne Hansen</h4>
                        <h6>2. Varamedlem</h6>
                        <ul>
                            <li>41505820</li>
                            <li><a href="#">gunn.hansen@remiks.noo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="well">
                <div class="row styremedlem">
                    <div class="col-xs-4 col-sm-3 col-md-4">
                        <img class="img-responsive" src="img/styret/ola.png" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-8">
                        <h4>Ola Sørås</h4>
                        <h6>3. Varamedlem</h6>
                        <ul>
                            <li>97161312</li>
                            <li><a href="#">ola.soras@fosen.renovasjon.no</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>
</main>
